# To skip potentially modified copies of node_modules/ in the Docker image.
node_modules 

# Skip log file to copy to the Docker image.
npm-debug.log 

# Skip docker image config
Dockerfile 

# Skip tests
test 

# Skip local build
dist 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Skip
.env  
.npmrc

# git files
.gitignore 